.navbar {
  border-radius: 0;
  font-family: 'exomedium';
  font-weight: 200;
  -webkit-box-shadow: 0px 5px 5px 5px rgba(115,115,115,1);
  -moz-box-shadow: 0px 5px 5px 5px rgba(115,115,115,1);
  box-shadow: 0px 5px 5px 5px rgba(115,115,115,1);
  background: url('tex2res4.png');
}

.navbar-inverse, .navbar-brand {
 font-family: 'exodemibold';
  font-weight: 100;
  color: white;
}

.hero {
  background: url('hero3.JPG') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  margin: 0;
  -webkit-box-shadow: 0px 5px 5px 5px rgba(115,115,115,1);
  -moz-box-shadow: 0px 5px 5px 5px rgba(115,115,115,1);
  box-shadow: 0px 5px 5px 5px rgba(115,115,115,1);
}

h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

h1, h2, h3 {
  font-family: 'exomedium';
}

.frosty {
  background: rgba(0, 0,  0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: 'exolight';
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
}

.frosty h2 {
  font-family: 'exolight';
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
}

.btn {
  border-radius: 0;
}

body {
  background: url('tex2res3.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #EAE9F2;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-top: 30px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 5px;
  }

.label {
  margin: 8px;
}

.clr {
  clear: both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FEEEEE;
  border-radius: 3px;
  padding: 8px;
  margin: 10px;
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 100px;
  position: relative;
}

.lesson a {
  color: white;
  font-family: 'exoextralight';
  font-size: 15px;
 }

.lesson a b {
  color: white;
  font-family: 'exoextralight';
  font-size: 20px;
 }

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px auto;
}

.description {
  font-family: 'exoextralight';
}
